* {
    box-sizing: border-box; /* hace que los paddings se queden en su caja! */
}

html, body {
    height: calc(100vh - 60px);
}

/* Primer GRID */
#grid-1 {
    display: grid;
    height: 80%;
    grid-gap: 10px;
    /* grid-template-rows: repeat(auto-fit, minmax(100px, auto)); */
    /* grid-template-rows: 2fr 4fr 1fr; */
    grid-template-rows: 41% 44% 15%;
    padding: 10px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

#grid-1 > div {
    background-color: #000;
}

    /* GRID Header */
    #grid-1 > div:nth-child(5) {
        background-color: transparent;
        display: block;
    }

    #grid-header {
        display: grid;
        height: 80%;
        width: 100%;
        grid-template-rows: repeat(2, 1fr);
    }

    #grid-header > div {
        background-color: purple;
        color: white;
    }

        /* GRID Header > Nav */
        #grid-header > div:nth-child(5) {
            background-color: transparent;
            display: block;
        }

        #grid-nav {
            display: grid;
            grid-gap: 15px;
            height: 80%;
            width: 100%;
            grid-template-columns: 1fr 3fr 1fr;
            padding: 0px 25px 0px 25px;
        }

        #grid-nav > div {
            background-color: #EA584B;
            color: white;
        }

        /* GRID Header > Banner */
        #grid-header > div:nth-child(5) {
            background-color: transparent;
            display: block;
        }

        #grid-banner {
            display: grid;
            height: 80%;
            width: 100%;
            grid-template-columns: repeat(1, 1fr);
            padding: 0px 25px 0px 25px;
        }

        #grid-banner > div {
            background-color: #FFCC5E;
            color: #000;
        }

    /* GRID Content */

    #grid-1 > div:nth-child(5) {
        background-color: transparent;
        display: block;
    }

    #col-left {
        display: grid;
        height: 80%;
        width: 100%;
    }

    #col-right {
        display: grid;
        grid-gap: 15px;
        height: 80%;
        width: 30%;
        grid-template-rows: 1fr 1fr 5fr;
        padding: 0px 25px 0px 25px;
    }

    #col-right > div {
        background-color: #FFE380;
        color: black;
    }

        /* GRID Col-Left */

        #col-left > div:nth-child(2) {
            background-color: transparent;
            display: block;
        }

        #col-left-1 {
            display: grid;
            height: 150%; /* Revisar! */
            width: 100%;
            grid-row-gap: 10px;
            grid-column-gap: 30px;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);
            padding: 0px 25px 0px 25px;
        }

        #col-left-1 > div {
            background-color: #1664A4;
            color: white;
        }

        #col-left-2 {
            display: grid;
            height: 20%;
            width: 100%;
            padding: 0px 25px 0px 25px;
            align-self: end;
        }

        #col-left-2 > div {
            background-color: #6399BB;
            color: #000;
        }

    /* GRID Footer */
    #grid-1 > div:nth-child(5) {
        background-color: transparent;
        display: block;
    }

    #grid-RU {
        display: grid;
        height: 60%;
        width: 100%;
        /* grid-template-rows: repeat(2, 1fr); */
        padding: 15px 25px 15px 25px;
    }

    #grid-RU > div {
        background-color: #E4A434;
        color: white;
    }